%br

= form_tag( contact_path, :method => :get, :multipart => false ) do 
    Name
    %br
    = text_field_tag "Name"
    %br
    Lastname
    %br
    = text_field_tag "Lastname"
    %br
    Email
    %br
    = email_field_tag "Email"
    %br
    Message
    %br
    = text_area_tag "Message", "", :size=>"30x4"
    %br
    = submit_tag 'Submit'


= button_to 'Back', root_path, :method => :get